@model NewsBlogApp.Models.NewsModel
@{
    ViewBag.Title = "Новостная лента";
}

<head>
    <link rel="stylesheet" href="~/Content/Site.css" />
</head>
<h2>Новостная лента</h2>

@foreach (var news in NewsBlogApp.Controllers.HomeController.newsList)
{
    <div class="news-block">
        <div class="header-h1"><h1>@news.Article</h1></div>
        <p class="multiline-content">@news.Content</p>
        <footer>
            <hr />
            <p>Автор: @news.Author</p>
            <p>Дата публикации: @news.DateOfPublication</p>
        </footer>
    </div>
}




    @*
            <div>
                <asp:DataList ID="DataList1" runat="server" DataKeyField="ID" DataSourceID="NewsDataSource" BorderColor="Black" BorderWidth="3px" CellPadding="5" CellSpacing="5" Font-Bold="False" Font-Italic="False" Font-Overline="False" Font-Strikeout="False" Font-Underline="False" GridLines="Horizontal" HorizontalAlign="Center">
                    <ItemTemplate>
                        <asp:Label ID="IDLabel" runat="server" Visible="false" Text='<%# Eval("ID") %>' />
                        Тема:
                        <asp:Label ID="ТемаLabel" runat="server" Text='<%# Eval("Тема") %>' />
                        <br />
                        Содержание:
                        <span class="multiline"><%# Eval("Содержание") %></span>
                        <asp:Label ID="СодержаниеLabel" runat="server" Text='<%# Eval("Содержание") %>' />
                        <br />
                        Автор:
                        <asp:Label ID="АвторLabel" runat="server" Text='<%# Eval("Автор") %>' />
                        <br />
                        ДатаПубликации:
                        <asp:Label ID="ДатаПубликацииLabel" runat="server" Text='<%# Eval("ДатаПубликации") %>' />
                        <br />
                        <br />
                    </ItemTemplate>
                </asp:DataList>
                <asp:SqlDataSource ID="NewsDataSource" runat="server" ConnectionString="<%$ ConnectionStrings:NewsDBConnectionString %>" SelectCommand="SELECT * FROM [NewsTable]"></asp:SqlDataSource>
            </div>

        <asp:GridView runat="server"></asp:GridView>
        <asp:GridView ID="dataGridView" runat="server" AutoGenerateColumns="False" DataKeyNames="ID" DataSourceID="NewsDataSource" RowStyle-HorizontalAlign="Center" HorizontalAlign="Center" Width="780px">
            <Columns>
                <asp:BoundField DataField="ID" HeaderText="ID" InsertVisible="False" ReadOnly="True" SortExpression="ID" Visible="False" />
                <asp:BoundField DataField="Заголовок" HeaderText="Заголовок" SortExpression="Заголовок" />
                <asp:BoundField DataField="Автор" HeaderText="Автор" SortExpression="Автор" />
            </Columns>
        </asp:GridView>
        <asp:SqlDataSource ID="NewsDataSource" runat="server" ConnectionString="<%$ ConnectionStrings:NewsDBConnectionString %>" SelectCommand="SELECT * FROM [NewsTable]"></asp:SqlDataSource>
    *@